<div class="cd-card" [ngClass]="{'cdonSale': unCd.onSale === true}">
    <h3>{{unCd.title | uppercase}}</h3>
    <p>Sortie le : {{unCd.releaseDate | date: "dd/MM//yyyy"}}</p>
    <p>Auteur/Groupe : {{unCd.author}}</p>
    <p>Prix : {{unCd.price | currency: 'EUR'}}</p>
    <p>
        En stock : <span [ngStyle]="{color: 'rgb(0,'+ unCd.quantity +',0)'}">{{unCd.quantity}}</span>
        <br>
        <button (click)="onAddCD()">Ajouter une unité</button>
    </p>

    <a routerLink="/cd/{{unCd.id }}">
        <button>Détail du cd</button>
    </a>
    <img [src]="unCd.thumbnail" [alt]="unCd.title" />

</div>
